


.heading {
    background-color: rgb(72,83,91);
    color: white;
    padding: .5em;
    border-radius: 8px;
}

.logo {
    width: 50%;
    height: 50%;
    background-color: white;
    margin-bottom: -8px;
}

.input-block{
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(72,83,91);
    float: left;
    margin: 10px;
    width: 250px;
    height: 100px;
    text-align: left;
    padding: 5px;
    
}

.biography{
    width: 80%;
    border-left: medium;
    margin: 8px;
    padding: 8px;
    
    
}

textarea {
    width: 100%;
    height: 200px;
    padding: 15px 15px;
    border-radius: 4px;
}

.edit-delete-link {
    padding-right: 5px;
    
}

.message {
    width:100%;
    text-align:center;
    padding:5px;
    background-color:blue;
    font-weight:bold;
    color:white;
}

.bold-label p {
    font-weight: bold;  
    
}