


.heading {
    background-color: rgb(72,83,91);
    color: white;
    padding: .5em;
    border-radius: 8px;
}

.logo {
    width: 50%;
    height: 50%;
    background-color: white;
    margin-bottom: -8px;
}

.input-block{
    border-radius: 8px;
    background-color:gray;
    display: inline-block;
    margin: 10px;
    width: 250px;
    height: 150px;
    
}

.biography{
    
    
    
}



.message {
    width:100%;
    text-align:center;
    padding:5px;
    background-color:blue;
    font-weight:bold;
    color:white;
}